# Ignorar configuración local de VS Code
.vscode/

# Ignorar todos los ejecutables dentro de 'ejemplos/'
# (archivos sin extensión dentro de subcarpetas de ejemplos)
ejemplos/**/*
!ejemplos/**/*.cpp
!ejemplos/**/*.h
!ejemplos/**/*.hpp
!ejemplos/**/*.txt
!ejemplos/**/*.md
